# Best to not edit navigation.yml, but run script make_contents.py along with navigation.tmpl
# main links
main:
  - title: "About"
    url: /about/
  - title: "Python for HPC"
    url: /python-for-hpc/

content:
